/* styles/Slider.module.css */

.sliderContainer {
    position: relative;
    overflow: hidden;
    width: 100%;
     height: 50%; /* Adjust the height as needed */
     /* top: -10%; */
  }
  
  .slide {
    position: relative;
    /* height: 100%; */
    /* width: 100%; */
    /* transition: transform 0.5s ease; */
  }
  
  .scaled {
    /* transform: scale(1.1); */
  }
  
  .textOverlay {
    position: absolute;
    top: 35%;
    left: 5%;
    /* transform: translate(-50%, -50%); */
    text-align: left;
    color: #fff;
  }  